<div class="container">
    <form action="">
        <h2>Bem-vinde Chef!</h2>
        <p>Preencha seus dados para ter acesso as melhores receitas!</p>
        <div class="form-group">
            <label for="usernameCad">Nome</label>
            <input type="text" name="usernameCad" id="usernameCad">
        </div>
        <div class="form-group">
            <label for="emailCad">E-mail</label>
            <input type="email" name="emailCad" id="emailCad">
        </div>
        <div class="form-group">
            <label for="passwordCad">Senha</label>
            <input type="password" name="passwordCad" id="passwordCad">
        </div>
        <button>Cadastrar</button>
        <a routerLink="/login">Já possui uma conta? <strong><u>Entre aqui.</u></strong></a>
    </form>
</div>