<div class="container">
    <form action="">
        <div class="form-group">
            <label for="username">E-mail</label>
            <input type="text" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" id="password" name="password">
        </div>
        <button type="submit">Entrar</button>
        <a href="">Ainda não tem uma conta? <strong><u>Cadastre-se.</u></strong></a>
    </form>
    
</div>